/* _general.css */

/*********************************/
/*             General            */
/*===============================*/
p {
  @apply text-grey-2;
}

* {
  scrollbar-width: thin;
}
body {
  @apply font-instrument text-grey-2;
}
html,
body {
  /* height: 100%; */
  overflow-x: hidden;
}
@media (max-width: 768px) {
  html,
  body {
    overflow-x: auto !important;
  }
}
body::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-hover);
}

body::-webkit-scrollbar-track {
  background-color: var(--scrollbar-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-corner {
  background-color: var(--scrollbar-color);
}
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1,
.display-6,
.display-5,
.display-4,
.display-3,
.display-2,
.display-1 {
  @apply text-black;
}

.h2,
h2,
.display-2 {
  @apply text-grey-1 text-[32px] leading-[35px] font-medium tracking-[-0.48px] md:text-[56px] md:leading-[61px] md:tracking-[-0.84px];
}
.h3,
h3,
.display-3 {
  @apply text-[18px] lg:text-2xl;
}

.h4,
h4,
.display-4 {
  @apply text-base;
}

/* Font 18px */
.body-1 {
  @apply text-sm md:text-[18px] md:leading-[22px];
}
.body-2 {
  @apply text-sm md:text-[16px] md:leading-[19px];
}
::selection {
  @apply bg-indigo-600/90 text-white;
}
.badge {
  @apply border-chip-stroke/40 text-primary flex items-center justify-center rounded-[43px] border px-2 py-1 text-xs leading-[17px] font-semibold tracking-[0.24px];
}
