/*----------------------------------------*/
/*  2.3 scrollToTop
/*----------------------------------------*/
.scrollToTop {
  display: none !important;
  height: 55px;
  width: 55px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #cbc6c6;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  z-index: 999;
  transition: 0.5s ease all;
  /* @media #{$md,$sm,$xs} {
        height: 40px;
        width: 40px;    
    } */
}
.scrollToTop.active-progress {
  display: block !important;
}

.scrollToTop:hover {
  transform: translateY(-15%);
}

.scrollToTop .arrowUp {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #030303;
  font-size: 24px;
}

.scrollToTop .arrowUp i {
  font-size: 19px;
}

.scrollToTop .water {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: #da000e;
  transition: all 0.3s;
  border: 1px solid #da000e;
  svg {
    use {
      margin-bottom: -1px;
      position: relative;
      bottom: -1px;
      fill: #da000e !important;
    }
  }
}

.scrollToTop .water_wave {
  width: 200%;
  position: absolute;
  bottom: 100%;
}
.scrollToTop .water_wave_back {
  right: 0;
  fill: #da000e;
  animation: wave-back 1.4s infinite linear;
}
.scrollToTop .water svg use {
  margin-bottom: -1px;
  position: relative;
  bottom: -1px;
  fill: #da000e !important;
}
.scrollToTop .water_wave_front {
  left: 0;
  fill: #7a259ee0;
  margin-bottom: -1px;
  animation: wave-front 0.7s infinite linear;
}

@keyframes wave-front {
  100% {
    transform: translateX(-50%);
  }
}

@keyframes wave-back {
  100% {
    transform: translateX(50%);
  }
}
